<div class="shorts-gallery">
  <div *ngFor="let short of shorts" class="short-card">
    <img [src]="short.image" [alt]="short.name" class="short-image"/>
    <div class="short-info">
      <h5>{{ short.name }}</h5>
      <p class="price">Ksh.{{ short.price }}</p>
      <button 
        [ngClass]="isAdded(short) ? 'btn btn-warning added-btn' : 'btn btn-primary'" 
        [disabled]="isAdded(short)" 
        (click)="addToCart(short)">
        {{ isAdded(short) ? 'Added' : 'Add to Cart' }}
      </button>
    </div>
  </div>
</div>
